{% extends "base.html" %}
{% block content %}
<div class="row p-0 m-0">
	<div class="col-md-7 col-xs-12">
		<div id="mapid" style="height: 90vh;"></div>
	</div>
	<div class="col-md-5 col-xs-12" style="height: 90vh; overflow-y: scroll;">
		<label for="groupfilter">Only show trackers in this group: (empty to show all)</label>
		<input list="groups" id="groupfilter" onchange="filtergroups(this)" value="{{ groupfilter }}">
		<h2>Tracker</h2>
		<datalist id="groups">
			{% for g, trash in tracker|groupby('group') %}
			<option value="{{ g }}">
			{% endfor %}
		</datalist>
		<table class="table table-striped table-sm table-hover">
			<thead class="">
				<tr>
					<th scope="col">#</th>
					<th scope="col">name</th>
					<th scope="col">group</th>
					<th scope="col">last update</th>
					<th scope="col">battery (%)</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
			{% for i in tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker+tracker %}
			<tr class="text-nowrap" id="table-tracker-{{ i.id }}" onClick="jumpToMarker(this)" data-trackerid="{{ i.id }}">
				<th scope="row">{{ i.id }}</th>
				<td>{{ i.name }}</td>
				<td>{{ i.group|d('') }}</td>
				<td>{{ datetime.datetime.fromtimestamp((i.id|tracker).lastcall|int).strftime("%x, %X") }}</td>
				<td>{{ (i.id|tracker).bat }}</td>
				<td>
					<a href="{{ url_for("tracker", id=i.id) }}"><button data-trackerid="{{ i.id }}"><span class="fa fa-edit" aria-hidden="true"></span></button></a>
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script>
	var map = L.map('mapid').setView([51.505, -0.09], 13);
	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
		'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
		'Imagery © <a href="http://mapbox.com">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(map);
	var tracker = {}
	var trackerGroup = L.featureGroup();
	{% for p in pos %}
		let tmp = {}
		tmp['marker'] = L.marker([{{ p.lat }}, {{ p.lon }}]);
		tmp['marker'].addTo(trackerGroup)
		tmp['popup'] = L.popup();
		tmp['marker'].bindPopup(tmp['popup']);
		tracker[{{ (p.tracker_id|tracker).id }}] = tmp;
	{% endfor %}
	trackerGroup.addTo(map);

	$(function(){ map.fitBounds(trackerGroup.getBounds()); map.invalidateSize(); }, 500);
	let filtergroups = function(ele) {
		location.href = '{{ url_for("index") }}?groupfilter='+$(ele).val();
	};
	function jumpToMarker(ele) {
		trackerid = $(ele).data('trackerid');
		t = tracker[trackerid];
		t['marker'].openPopup();
		map.panTo(t['marker'].getLatLng())
	}

	let updateTrackerData = function (data) {
		console.log(data)
		let row = $('#table-tracker-'+data['id']);
		row.children()[1].innerText = data['name'];
		row.children()[2].innerText = data['group'];
		row.children()[3].innerText = new Date(data['time'] *1000).toLocaleString('de-DE');
		row.children()[4].innerText = data['bat'];
		tracker[data['id']]['marker'].setLatLng([data['lat'],data['lon']])
		tmp['popup'].setContent('<a href="#"><b>'+data['name']+'</b></a><br>');
	};
	let update = function() {
		$.ajax("{{ url_for('api_tracker') }}")
		.done(function(data) {
			for (i in data) {
				updateTrackerData(data[i]);
			}
		})
		.always(function() {
			setTimeout(update, 5000);
		});
	};
	update();
</script>
{% endblock %}
